.signup-container{
    padding-top: 50px;

}


.signup-form{
    width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signup-btn{
    grid-column: 1 / -1;
}
.signup{
    height: 100vh;
    padding: 50px;
}

.signup-btn{
    grid-column: 1 / -1;
    height: 40px;
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;

}
label, input{
    margin-bottom: 5px;
}